* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}

header {
  width: 100%;
  background-color: rgb(0, 0, 0);
  height: 60px;
  display: flex;
}

main {
  margin: 0 auto;
  width: 980px;
  position: relative;
}

.logo {
  float: left;
  padding: 20px;
  width: 70%;
}

#redes ul {
  list-style: none;
}

#redes ul li {
  display: inline-block;
  margin-left: 20px;
  padding: 5px;
  padding-top: 20px;
}

nav {
  background-color: rgb(244, 248, 255);
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  
}

nav ul li {
  height: 60px;
  padding: 20px;
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0)
}

nav ul li a:hover { 
  
    color: rgb(0, 43, 173);
}

nav ul li:hover{
    background-color: rgb(236, 241, 255);
}


/*  ABA DOS PRODUTOS */
h3 {
  font-family: "arial";
  font-size: 25pt;
  margin: 30px;
}

#linha {
  padding: 10px;
  margin: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /*Quebra de Linha*/
  box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.904);
  justify-content: center;
}

#linha div {
  width: 30%;
  margin: 10px;
  border: 2px solid rgb(189, 189, 189);
}

#linha div img {
  width: 100%;
  height: 300px;
}

#linha div h3 {
  font-family: arial;
  font-size: 15pt;
  margin: 10px;
  
}

#linha div h4 {
  font-family: arial;
  font-size: 11pt;
  color: rgb(129, 129, 129);
  margin:6px;
  font-weight: bold;
}


/*  aba de coloraçao dos nomes das cores do celular  */

/* IPHONE XR */
.ipXR {
  font-family: arial;
  font-size: 13pt;
  color: rgb(39, 39, 39);
  margin: 10px;
  font-weight: bold;
  text-shadow: 0px 0px 2px rgb(134, 134, 134) !important;
  
}

/* IPHONE 11 */
.ip11 {
  font-family: arial;
  font-size: 13pt;
  color: rgb(250, 250, 237);
  margin: 10px;
  font-weight: bold;
  text-shadow: 0px 0px 2px rgb(0, 0, 0) !important;
}

/* IPHONE 13 */
.ip13 {
  font-family: arial;
  font-size: 13pt;
  color: rgb(79, 129, 162);
  margin: 10px;
  font-weight: bold;
  text-shadow: 0px 0px 2px rgb(134, 134, 134) !important;
}

/* IPHONE 11 PRO */
.ip11pro {
  font-family: arial;
  font-size: 13pt;
  color: rgb(100, 99, 97);
  margin: 10px;
  font-weight: bold;
  text-shadow: 0px 0px 2px rgb(134, 134, 134) !important;
}

/* IPHONE 12 PRO */
.ip12pro {
  font-family: arial;
  font-size: 13pt;
  color: rgb(204, 214, 216);
  margin: 10px;
  font-weight: bold;
  text-shadow: 0px 0px 2px rgb(0, 0, 0) !important;
}

/* IPHONE 13 PRO */
.ip13pro {
  font-family: arial;
  font-size: 13pt;
  color: rgb(79, 129, 162);
  margin: 10px;
  font-weight: bold;
   text-shadow: 0px 0px 2px rgb(134, 134, 134) !important;
}

/* fim da coloração da cores dos nomes das cores */




/*  cor do preço */
#linha div h6 {
  font-family: arial;
  font-size: 15pt;
  color: rgba(89, 1, 148, 0.966);
  margin: 10px;
  font-weight: bold;
  margin-top: 2px;
}
/*  fim da cor do preço  */
